.lr{
  background-color: #A89D8D;
  display:flex;
  flex-direction:row;
  align-self: auto;

}

.ud{
  background-color: #A89D8D;
  display:flex;
  flex-direction:column;
  align-self: auto;

}

.left
{
  width:50%
}
