.lr{
  background-color: #A89D8D;
  display:flex;
  flex-direction:row;
  align-self: auto;
  width: 100%;

}

.ud{
  background-color: #A89D8D;
  display:flex;
  flex-direction:column;
  align-self: auto;

}

.left
{
  width:100%
}

.right
{
  width:100%;
  background-color: green;
}
