.ScrollList
{
  overflow-y: scroll;
  border:'1px solid black';
  height: 500px;
  background-color: black;
}

.ScrollList_small
{
  overflow-y: scroll;
  border:'1px solid black';
  height: 250px;
  background-color: black;
}
