

.m{
  background-color: #A89D8D;
  display:flex;
  flex-direction:row;
  align-self: auto;

}

.up_and_down
{
  display:flex;
  flex-direction:column;
  align-self: auto;
}

.button_side
{
  width: 40%;
  background-color: black;
}

.desc_side
{
  width: 50%;
  background-color: #A89D8D;
}


li
{
  padding:5px;
}
