.BL
{
  display: flex;
  flex-direction: column;
  font-size: 10px;
  justify-content: space-space-around;
  background-color: #A89D8D;
}

.TwoLists
{
  display: flex;
  flex-direction: row;
  font-size: 10px;
  justify-content: space-space-around;
  padding: 20px;

}
