

.lr{
  background-color: #A89D8D;
  display:flex;
  flex-direction:row;
  align-self: auto;

}

.button_side
{
  width: 40%;
  background-color: black;
}

.desc_side
{
  width: 50%;
  background-color: #A89D8D;
}

.ten
{
  width:15%
}

li
{
  padding:5px;
}

.button_side
{
  display: flex;
  flex-direction: column;
  font-size: 10px;
  background-color: #A89D8D;
}

.TwoLists
{
  display: flex;
  flex-direction: row;
  font-size: 10px;
  padding: 20px;

}

i
{
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.down_arrow
{
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.dropdown
{
  position: relative;
  display: inline-block;
}

.drop_style
{


}

.dropdown-content
{
  display: none;
  position: absolute;
  background-color: #eeeeee;
  min-width: 20px;
  padding: 5px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.button_select
{
  height: 40px;
  width: 40px;
  text-align: center;
  border: 1px solid #000000;
  border-radius: 11px;
  background-color: darkred;
  box-shadow: 3px 3px 4px 0px #706352;
}
.button_select:hover
{
  transform: translateX(1px) translateY(1px);
}
.button_select:active
{
  transform: translateX(4px) translateY(4px);
  color: #D8C8B2;
  background-color: #700407;
  box-shadow: 4px 4px 7px 0px #3A0A1A inset;
}